# Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystems are summarized.

#Some of the populat languages that Data Scienists use are:

1. Python
2. R
3. SQL

#Some of the commonly used libraries used by Data Scientists include:

- first "numpy"
- second "Pandas"
- third "TensorFlow"

| Data Science Tools |
|--------------------|
| RStudio            |
| Apeche Spark       |
| Apach Hadoop       |

### Below are a few examples of evaluating arithmetic experssions in python

In [2]:
#This a simple arithmetic experssion to multiply then add integers

(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by dividing by 60

minutes = 200
hours = minutes / 60
print(round(hours,2))

3.33

**Objectives**
- python 
- R
- SQL

## Author : 
## Mujtaba Alsabari